
<div class="well">
  <table class="table table-condensed table-striped table-bordered" style="background-color: #CCFFFF;" >
    <tr style="font-size: 18px;">
      <th>Record</th>
      <th>Type</th>
      <th style="text-align: center;">Actions</th>
    </tr>

    <% search_results_list.each do |s| %>
      <tr>
        <td><%= s[0] %></td>
        <td><%= s[1] %></td>
        <td><%= s[2] %></td>
      </tr>
    <% end %>
  </table>
</div>


results go here

