<div class="well">
  <h3><em>Basic business rules to help you navigate the application:</em></h3>

  <h4>4 Key models</h4>
  
  <ul>
    <li style="font-size: 18px; padding-bottom: 4px;">Families</li>
    <li style="font-size: 18px; padding-bottom: 4px;">Parents</li>
    <li style="font-size: 18px; padding-bottom: 4px;">Students</li>
    <li style="font-size: 18px; padding-bottom: 4px;">Teachers</li>
  </ul>

  <hr/>
  <ul>
    <li style="font-size: 18px; padding-bottom: 8px;"><em><strong>Families</strong></em> contain multiple Parents (1:M), an optional address (1:1), and multiple Students (1:M).  A family belongs to a <em><strong>User</strong></em>.  Only the user to who the family belongs (or an admin or superadmin) can edit information for the family (including the parents and students within the family).</li>

    <li style="font-size: 18px; padding-bottom: 8px;"><em><strong>Parents</strong></em> belong to families(M:1) and contain an optional address (1:1), and multiple pieces of contact information (1:M)
    <li style="font-size: 18px; padding-bottom: 8px;"><em><strong>Students</strong></em> belong to families (M:1) and are associated with classes (M:M).  A student record can be modified by the "creator" of the Family that a student belongs to, or by an admin or superadmin.</li>
    <li style="font-size: 18px; padding-bottom: 8px;"><em><strong>Teachers</strong></em> can contain multiple pieces of contact information, and are associated with Classes (M:M association).  Only an Admin or Superadmin user can edit Teacher records.</li>
  </ul>

  <hr/>
  <h4>3 Subordinate models</h4>
  <ul>
    <li style="font-size: 18px; padding-bottom: 8px;">
      <em><strong>Classes</strong></em> (model is called Schoolclasses to avoid the reserved word class) form M:M association between students and teachers.  Only an Admin or Superadmin user can create Class records, although any user can add/remove students from a particular class for the families that the user manages.
    </li>
    <li style="font-size: 18px; padding-bottom: 8px;">
      <em><strong>Addresses</strong></em> are polymorphic associations that can belong to addressables (Families or Parents).
    </li>
    <li style="font-size: 18px; padding-bottom: 8px;">
      <em><strong>Contacts</strong></em> are polymorphic associations that can belong to contactable (Parents or Teachers).
    </li>
  </ul>

  <p>Only registered users have access to the contents of the app.</p>

  <p>Registered users can search (but not edit) all data including Families, Parents, Students, teachers.</p>

  <p>Every family has an "family_administator" user (the user who created the family record) who can edit any of the information in the "tree" of the family data (the family itself, family address, parents beloning to the family, students belonging to the family, and contact and address information for the parents)</p>

  <p>To test out Admin and Superadmin functionality, I have created the following accounts already in the system: <strong>admin</strong>, password "pass" and <strong>superadmin</strong> password "pass"</p>
</div>
