<h2>Up and Running with PTA Directory</h2>

<div class="well">
  <h3>Getting Started is Easy:</h3>

  <div class="well">
    <ul>
      <li style="font-size: 22px; padding-bottom: 8px;">Create your own Family record</li>
      <ul style="font-size: 18px; padding-bottom: 6px;">
        <li style="padding-bottom: 2px;">Click on the "Create New Family" button in the navigation bar</li>
        <li style="padding-bottom: 2px;">You will be asked to enter a family name</li>
        <li style="padding-bottom: 2px;">You can then create information on the parents in this family, including their contact information.</li>
          <ul><li style="padding-bottom: 2px;">You can specify a family address for the entire family, or separate addresses for each parent if they are not living together.</li></ul>
        <li style="padding-bottom: 2px;">Then add information about the students in this family: their names and the classes they attend.</li>
      </ul>

      <li style="font-size: 22px; padding-bottom: 6px;">Browse Data</li>
      <ul style="font-size: 18px; padding-bottom: 6px;">
        <li style="padding-bottom: 2px;">Click on the Family Directory in the navigation bar to get a listing of all families</li>
        <li style="padding-bottom: 2px;">Click on the Directory Listings button to get access to lists of</li>
        <ul>
          <li style="padding-bottom: 1px;">Families</li>
          <li style="padding-bottom: 1px;">Parents</li>
          <li style="padding-bottom: 1px;">Students</li>
          <li style="padding-bottom: 1px;">Classes</li>
          <li style="padding-bottom: 1px;">Teachers</li>
        </ul>
        <li style="padding-bottom: 2px;">Navigation is easy: class details link to individual students and teachers, student records lead to classes and families, etc.</li>
      </ul>
      <li style="font-size: 22px; padding-bottom: 6px;">Open Text Search through all of the data</li>
    </ul>
  </div>

  <div class="well">
    <h3>What do you want to do?</h3>
    <% if current_user_get && current_user_get.families.size == 0 %>
      <%= link_to "Create a Family Record", new_family_path, class: "btn btn-primary btn-large", style: "font-size: 32px; margin-top: 8px; margin-left: 40px; padding-left: 20px; padding-top: 20px; padding-bottom: 20px; padding-right: 20px; " %>
    <% else %>
      <%= link_to "View Your #{"Family".pluralize(current_user_get.families.size)}", administer_families_path, class: "btn btn-primary btn-large", style: "font-size: 32px; margin-top: 8px; margin-left: 40px; padding-left: 20px; padding-top: 20px; padding-bottom: 20px; padding-right: 20px; " %>
    <% end %>
    <%= link_to "Search", search_path, class: "btn btn-info btn-large", style: "font-size: 32px; padding-left: 20px; padding-top: 20px; padding-bottom: 20px; padding-right: 20px; margin-top: 8px; margin-left: 40px;" %>
  </div>
  <div class="well">
    <%= link_to "For Tealeaf Students and TAs", developer_path, class: "btn btn-info btn-large", style: "font-size: 18px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px; padding-right: 10px; margin-top: 10px; margin-left: 10px;" %>

  </div>
</div>